<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvDQS2Ni8KbR-aasTOIMnam4BxhOp5l_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>692770947303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.workoutapp</string>
	<key>PROJECT_ID</key>
	<string>wise-workout-jep57d</string>
	<key>STORAGE_BUCKET</key>
	<string>wise-workout-jep57d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692770947303:ios:9492edb8963fdd4d616242</string>
</dict>
</plist>